@import 'normalize.css'; /* bring in normalize.css styles */

:root {
  --main-background: #FDF7F2;
  --buttons-color: #F59256;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Manrope', 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
  color: black;
}

a {
  text-decoration: none;
}

.headerMenu {
  visibility: hidden;
  height: 100vh;
  transform: translate(100%, 0);
  transition: transform 250ms linear;
}

.shown {
  visibility: visible;
  width: 100%;
  transform: translate(0, 0);
  transition: transform 250ms linear;
}
